header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    padding: 3vh 6vw;
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.05);
    background-color: hsl(0, 0%, 100%);
    z-index: 2;
}

header > img{
    width: 75px;
    height: 53px;
}

header > ion-icon{
    font-size: 42px;
}

.chat-main{
    width: 100vw;
    margin-top: 106px;
    margin-bottom: 12vh;
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
}

.message{
    display: flex;
    padding: 15px;
    margin-bottom: 1vh;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.4;
    background-color: hsl(0, 0%, 100%);
}

.message > span.message__time{
    color: hsla(0, 0%, 41%, 0.678);
}

.message > strong{
    font-weight: 700;
    padding-left: 2vw;
    padding-right: 2vw;
}

.message > p{
    overflow-wrap: break-word;
}

.message.message__status{
    background-color: hsl(0, 0%, 86%);
}

.message.message__private{
    background-color: hsl(0, 100%, 94%);
}

.message_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 12vh;
    padding: 2vh 3vw;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -4px 6px hsla(0, 0%, 0%, 0.051);
    background-color: hsl(0, 0%, 100%);
    z-index: 2;
}

.message_box > input{
    border: none;
    font-size: 17px;
    height: 100%;
    width: 95%;
}

.message_box > ion-icon{
    font-size: 26px;
}

sidebar{
    width: 100vw;
    height: 100vh;
    z-index: 3;
    position: fixed;
    right: -100vw;
    transition: transform 500ms ease-in-out 25ms;
}

sidebar > div.sidebar__body{
    width: 70vw;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
    z-index: 4;
    position: relative;
    right: -130vw;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

div.sidebar__body .sidebar__text{
    text-align: center; 
    font-weight: 700;
    padding-top: 6vh;
    padding-bottom: 3vh;
}

div.sidebar__body div.sidebar__item{
    display:flex;
    align-items: center;
    margin: 7px 21px;
    position: relative;
}

div.sidebar__body div.sidebar__item ion-icon{
    font-size: 25px;
    margin-right: 9px
}

div.sidebar__body div.sidebar__item ion-icon.sidebar__item__check{
    color: green;
    position: absolute;
    right: 0;
    font-size: 20px;
}

div.sidebar__body > .sidebar__participants{
    margin-top: 4vh;
    height: 50vh;
    overflow: auto;
}

div.sidebar__background{
    background-color: hsla(0, 0%, 0%, 0.6);
    width: 30vw;
    height: 100vh;
    position: fixed;
    z-index: 4;
    left: 0;
}

.activated{
    transform: translateX(-100vw);
}

.hidden{
    display: none;
}
