* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
}

body{
    display: flex;
    flex-direction: column;
}

.enter-name-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
}

#enter-name-input{
    text-align: center;
    border: 1px solid hsl(0, 0%, 84%);
    width: 261px;
    height: 54px;
    font-size: 16px;
    color: hsl(0, 0%, 68%);
}

.enter-name-screen > button{
    margin: 3vh 0 3vh 0;
    background-color: hsl(0, 0%, 91%);
    color: hsl(0, 0%, 41%);
    border: none;
    width: 109px;
    height: 45px;
    border-radius: 9px;
}

.enter-name-screen > p {
    color: hsl(0, 100%, 50%);
    text-align: center;
}

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:2;
    top: 0vh;
    background:url('https://media0.giphy.com/media/l3nWhI38IWDofyDrW/giphy.gif?cid=ecf05e47h6y6sb634f23tekpigpssvgpcxkx23743r3vsqv5&rid=giphy.gif') no-repeat center center rgba(0,0,0,0)
}